.header {
  margin-bottom: 5rem;
  margin-top: 1.5rem;
  .options {
    float: right;
    font-size: 1.5rem;
    margin-top: 1rem;
    .option {
      margin: 0 2rem;
      text-transform: uppercase;
    }
  }
  a {
    text-decoration: none;
    color: black;
  }
  .logo-container{
      margin-left: 1.8rem;
  }
}
